
header {
  width: 100%
  display: block;
  overflow: hidden;
  padding: 40px;
  box-sizing: border-box;
  background-color: #FFF748;
}

.header_image {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 30%;
}

@media screen and (max-width: 600px) {
  header{
    padding:100px;
  }

  .header_image{
    padding-top: 100px;
    width: 60%;
  }
}

.responsive {
  max-width: 100%;
  height: auto;
}
/*top nav */
body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #05386B;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 30px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #FC4445;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}

/*Main page (center content) */
* {
  box-sizing: border-box;
}

/* Create three unequal columns that floats next to each other */
.column_text {
  width:90%;
  display: flex;
  margin: 40px auto 0 auto;
}

.column_text h1{
  font-size: 4vw;
  font-family: sans-serif;
}

.column_text p {
  font-family: sans-serif;
  font-size: 1.75vw;
}

@media screen and (max-width: 600px){
  .colum_text h1{
    font-size: 6vw;
  }

  .column_text p {
    font-size: 3.25vw;
  }
}


/*mainpage: after main text */
/* Create three equal columns that floats next to each other */
.overallContainer {
  max-width: 98%;
  margin: 40px auto 0 auto;
  padding-bottom: 50px;
}

.columnSection{
  padding:20px;
  box-sizing: border-box;
  margin:bottom:30px;
  flex-basis: 30%;
}

.columnSection:nth-child(1){
  background-color: #8FC1E3;
}

.columnSection:nth-child(2){
  background-color: #5085A5;
}

.columnSection:nth-child(3){
  background-color: #31708E;
}

.columnSection h2{
  color: black;
  font-family: monospace;
  font-size: 2.15vw;
}

.columnSection p {
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-family: sans-serif;
  font-size: 1.25vw;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (min-width:900px) {
  .overallContainer{
    display: flex;
    justify-content: space-between;
  }

  /*MAINPAGE buttons for columns */
  .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .button:hover span {
    padding-right: 25px;
  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
}


@media only screen and (max-width : 600px){
  .button {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }

  .button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .columnSection h2{
    font-size: 5.15vw;
  }

  .columnSection p {
    margin: auto;
    font-size: 3.25vw;
  }
}


/*footer */
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.footer {
  width: 100%
  display: block;
  overflow: hidden;
  padding: 70px 0;
  box-sizing: border-box;
  background-color: #5A5560;
}

.inner_footer{
  display: block;
  margin: 0 auto;
  width: 1100px;
  height: 100%;
}

.inner_footer .logo_container {
  width: 35%;
  float: left;
  height: 100%;
  display: block;
}

.inner_footer .logo_container img {
  width: 175px;
  height: auto;
}

.inner_footer .footer_third{
  width: calc(21.6666667% - 20px);
  margin-right: 10px;
  float: left;
  height: 100%;
}

.inner_footer .footer_third:last-child{
  margin-right: 0;
}

.inner_footer .footer_third h1{
  font-family: monospace;
  font-size: 22px;
  color: white;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.inner_footer .footer_third a{
  font-family: monospace;
  font-size: 18px;
  color: white;
  display: block;
  font-weight: 200;
  width: 100%;
  margin-bottom: 5px;
}

.inner_footer .footer_third li2{
 display: inline-block;
 font-size: 20px;
}

.inner_footer .footer_third img {
  width: 50%;
}

@media(max-width: 600px){
  .footer .inner_footer{
    width: 90%;
  }

  .inner_footer .logo_container,
  .inner_footer .footer_third{
    width: 100%;
    margin-bottom: 30px;
  }
}

/*ratiosMain page block UI */
.ratioContainerOverall {
  display: flex;
  width: 90%;
  flex-direction: column;
  background-color:#87868C;
  justify-content: center;
  align-items: center;

}

.ratioContainer {
  background-color: #f1f1f1;
  width: 90%;
  margin: 15px;
  text-align: center;
}

.ratioContainer h2 {
  font-family: monospace;
  font-size: 2vw;
}

.ratioContainer p {
  font-family: sans-serif;
  font-size: 1vw;
  padding-bottom: 10px;

}

/*ratioPageMain button */
.buttonRatioPage {
  background-color:#FFF748;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #000302;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}


.buttonRatioPage:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

@media(max-width: 600px){
  .ratioContainer h2 {
    font-size: 4vw;
  }

  .ratioContainer p {
    font-size: 2.5vw;
  }


}

/*MarketProspect Ratios overall UI */
.ratioContainerOverallMP {
  display: flex;
  width: 98%;
  flex-direction: column;
  background-color:#87868C;
  justify-content: center;
  align-items: center;

}

.ratioContainerMP {
  background-color: #f1f1f1;
  width: 92%;
  margin: 20px;
  text-align: center;
}

.ratioContainerMP h2 {
  font-family: monospace;
  font-size: 2vw;
}

.ratioContainerMP p {
  font-family: sans-serif;
  font-size: 1.25vw;
  padding-bottom: 10px;

}

/* CSS button for "calculate button" */
.buttonCalc{
  background-color:#FFF748;
  border-radius: 20px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #000302;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}


.buttonCalc:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

@media(max-width: 600px){
  .ratioContainerMP h2 {
    font-size: 4vw;
  }

  .ratioContainerMP p {
    font-size: 3vw;
    margin: 10px;
  }


}

/* CSS FOR FINANCIAL STATEMETS PAGE */

  /*create the container for balance sheet */

.balanceSheet_container {
  display: flex;
  width: 98%
}

.balanceSheet_pic {
  flex: 1;
  padding: 10px;
  background-color:#87868C;
}

.balanceSheet_info {
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

.balanceSheet_info h2 {
  font-family: monospace;
  font-size: 2vw;
}

.balanceSheet_info p {
  font-family: sans-serif;
  font-size: 1.5vw;
  padding-bottom: 10px;
}

/*create the container for income sheet */

.incomeStatement_container {
display: flex;
width: 98%
}

.incomeStatement_info {
flex: 3;
padding: 10px;
background-color: #f1f1f1;

}

.incomeStatement_pic {
flex: 1;
background-color:#87868C;
padding: 10px;
}

.incomeStatement_info h2 {
font-family: monospace;
font-size: 2vw;
}

.incomeStatement_info p {
font-family: sans-serif;
font-size: 1.5vw;
padding-bottom: 10px;
}

@media (max-width: 600px) {
  .incomeStatement_container, .balanceSheet_container  {
    flex-direction: column;
  }

  .incomeStatement_info h2 {
  font-size: 4vw;
  }

  .incomeStatement_info p {
  font-size: 3vw;

  }

  .balanceSheet_info h2 {
    font-size: 4vw;
  }

  .balanceSheet_info p {
    font-size: 3vw;


  }

}

/*FiNANCIAL INFORMATION PAGE IMAGES FLEX LAYOUT */
.picContainer {
  display: flex;
  width: 94%;
}

.picContainer_left {
  flex: 1;
  padding: 20px;
}

.picContainer_middle {
  flex: 1;
  padding: 20px;
}

.picContainer_right {
  flex: 1;
  padding: 20px;
}

@media (max-width: 600px){
  .picContainer {
    flex-direction: column;
  }
}
